.linear
.footer.clearfix
  .body
    .col-sm-6
      .row
        h4 主辦單位
      .row
        .col-sm-3
          img(src='/images/marvel-logo.png', class='img-responsive')
        .col-sm-3
          img(src='/images/wev-logo.png', class='img-responsive')
    .col-sm-6
      .row
        h4 聯絡方式
      .row
        h5
          span(class='glyphicon glyphicon-earphone') 
          span(class='ml') 886-2-2758-8642
        h5
          span(class='glyphicon glyphicon-envelope')
          a(class='ml', href='mailto:service@captainamericarun.com') 客服人員
        //- h5
          span(class='glyphicon glyphicon-home') 
          a(class='ml', href='http://www.wewoninc.com') www.wewoninc.com