doctype html
html
  head
    title= title
    meta(charset='utf-8')
    //- Viewport mobile tag for sensible mobile support
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
    
    meta(name='description', content='Captain America Run 神盾局探員招募測驗')
    meta(name='author', content='AndyYou, CalvertYang, MillyChuang')
    meta(property='og:title', content='Captain America Run 神盾局探員招募測驗')
    meta(property='og:description', content='Captain America Run 神盾局探員招募測驗')
    meta(property='og:url', content='http://captainamericarun.com/index')
    meta(property='og:image', content='http://captainamericarun.com/images/mobile-head.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/ico/favicon_144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/ico/favicon_114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/ico/favicon_72x72.png')
    link(rel='apple-touch-icon-precomposed', href='/images/ico/favicon_57x57.png')
    link(rel='shortcut icon', href='/images/ico/favicon.png')
    link(rel='stylesheet', href='/styles/normalize.css')
    link(rel='stylesheet', href='/styles/bootstrap.min.css')

    block styles

    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/bootstrap.min.js')
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/zh_TW/all.js#xfbml=1&appId=710919735605777";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    block body

    block javascript
    script.
      
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-31213508-3', 'captainamericarun.com');
      ga('send', 'pageview');

    //- Bring in the socket.io client
    //- script(type='text/javascript', src='/js/socket.io.js')
    //- then beef it up with some convenience logic for talking to Sails.js'
    //- script(type='text/javascript', src='/js/sails.io.js')
    //- listen on socket.io for incoming messages
    //- script(type='text/javascript', src='/js/app.js')
