extends ../layout

block styles
  style.
    body {
      padding-top: 60px;
    }
    .panel.center {
      margin: 0 auto;
      width: 30rem;
    }

block body
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type='button', class='navbar-toggle', data-toggle="collapse", data-target=".navbar-collapse")
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='navbar-brand', href='#') Captain America 管理界面
      .collapse.navbar-collapse
        ul(class='nav navbar-nav')
          li
            a(href='') 訂單
          li
            a(href='') 會員

  .container
    .panel.panel-default.center
      .panel-heading
        h3(class='panel-title') 管理者登入
      .panel-body
        form(class='form-horizontal', role='form')
          .form-group
            label(for='account', class='col-sm-2 control-label') 帳號
            .col-sm-9
              input(type='text', class='form-control', id='account')
          .form-group
            label(for='password', class='col-sm-2 control-label') 密碼
            .col-sm-9
              input(type='password', class='form-control', id='password')
          button(class="btn btn-lg btn-info btn-block", type='submit') 登入
block javascript