extends ../layout

block styles
  style.
    body {
      padding-top: 60px;
    }
    .panel.center {
      margin: 0 auto;
      width: 30rem;
    }
    .w30 {
      width: 30px;
    }
    .block {
      width: 90%;
      height: 2rem;
      margin: 2px 0;
    }

block body
  include ../partials/topbar

  .container
    .row
      .col-sm-3
        .input-group
          input(type='text', class='form-control', placeholder='搜尋...')
          span(class='input-group-btn')
            button(class='btn btn-default', type='button') 搜尋
    .row
      hr
    .row
      .col-sm-3
        .block
          span(class="glyphicon glyphicon-user")
          span(class='badge') 9999


    .row
      .col-sm-12
        table(class='table table-bordered table-hover table-condensed table-responsive')
          tr
            th Facebook
            th 姓名
            th 生日
            th 性別
            th Email
            th 驗證狀態
            th

          tr
            td
            td
            td
            td
            td
            td
            td(class='w30')
              a(href='', class='btn btn-sm') 訂單資訊
    
block javascript