extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
    }
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      background: white;
    }
    .footer {
      width: 100%;
      margin: 0 auto;
      background: #000;
      padding-bottom: 5rem;
    }
    .footer .body {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      color: white;
      width: 960px;
      margin: 0 auto;
    }
    .footer .body  img {
      margin: 5px;
    }
    .linear {
      width: 100%;
      height: 5rem;
      position: relative;
      top: -5rem;
      background: rgb(125,126,125); 
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); 
    }
    .content {
      width: 100%;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      background: url('/images/pattern.png');
      background-repeat: repeat;
      text-align: center;
      color: white;
    }
    .content .title {
      background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-webkit-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      width: 100%;
    }
    .ml {
      margin-left: 10px;
    }
    @media screen and (max-width: 768px) {
      .term {
        width: 90%;
        margin: 0 auto;
      }
      .content {
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        overflow: hidden;
        background-size: 100% 100%;
        background-repeat: repeat-y;
        text-align: center;
        color: white;
      }
      .content .title {
        background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0.1), rgba(0,0,0,0));
        width: 100%;
        text-align: center;
      }
      .content .title img {
        width: 300%;
        display: block;
        position: relative;
        left: -100%;
      }
       .footer {
        position: relative;
        top: 0;
        height: auto;
      }
      .footer .body {
        color: white;
        width: 70%;
        margin: 0 auto;
      }
      .black {
        background: #000;
        width: 100%;
        height: 10rem;
      }
    }

block body
  include ../partials/nav

  .container
    .content
      .title
    


  .linear
  .footer.clearfix
    .body
      .col-sm-6
        .row
          h4 主辦單位
        .row
        img(src='/images/marvel-logo.png')
      .col-sm-6
        .row
          h4 聯絡方式
        .row
          h5
            span(class='glyphicon glyphicon-earphone') 
            span(class='ml') 886-2-2758-8642
          h5
            span(class='glyphicon glyphicon-envelope')
            a(class='ml', href='jimi.feng@wewoninc.com') 客服人員
          //- h5
            span(class='glyphicon glyphicon-home') 
            a(class='ml', href='http://www.wewoninc.com') www.wewoninc.com

  div(class='modal fade', id='myModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
          h4(class='modal-title', id='myModalLabel') 提示
        .modal-body
          | #{message}

  block javascript
  script.
    $(function () {
      $('#myModal').modal('show');
    });