extends ../layout

block styles
  style.
    .header {
      width: 1440px;
      max-width: 1440px;
      margin: 0 auto;
      height: 185px;
      background: url('/images/header-bg.png');
    }
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 0;
    }
    .footer {
      width: 1440px;
      margin: 0 auto;
    }

block body
  .header
  .container
    img(src='/images/main.png', width='1440px', height='500px')
    img(src='/images/about-title.png', width='1440px', height='165px')
  .footer
    | abc
block javascript