extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
      background-color: #000;
    }
    
    @media screen and (min-width: 992px) {
      .video {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
      }
      .video video {
        position: relative;
        left: -14rem;
        width: 72%;
      }
      .header-title {
        width: 50%;
        text-align: center;
        position: relative;
        top: 12rem;
        left: 49%;
      }
      .header-title img {
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
    @media screen and (min-width: 1440px) {
      .video video {
        left: -15rem;
        width: 68%;
      }
    }
    @media screen and (min-width: 769px) and (max-width: 991px) {
      .video {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
      }
      .video video {
        position: relative;
        left: -10rem;
        width: 80%;
      }
      .header-title {
        width: 50%;
        text-align: center;
        position: relative;
        top: 8rem;
        left: 48%;
      }
      .header-title img {
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
    @media screen and (max-width: 768px) {
      .video {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
      }
      .video video {
        width: 100%;
      }
      .header-title {
        width: 100%;
        text-align: center;
        position: relative;
        top:  25%;
      }
      .header-title img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      .mobile-head {
        width: 100%;
      }
    }
    a.btn-run {
      display: inline-block;
      width: 200px;
      height: 60px;
      background: url('/images/btn-run.png');
      background-size: 200px 120px;
      background-repeat: no-repeat;
    }
    a.btn-run:hover {
      background-position: 0 -60px;
    }
    .audio {
      position: absolute;
      z-index: 999;
      top: 2%;
      width: 92%;
      margin: 0 auto;
      text-align: right;
      font-size: 1.5rem;
      color: white;
    }
    .audio a {
      color: rgba(188, 188, 188, 1); 
    }
    .audio a:hover {
      color: white;
    }

block body
  .audio
    a(class='controls', href='')
      span(class='glyphicon glyphicon-volume-up')
    audio(autoplay, loop, id='audioPlayer')
      source(src='/video/capLoop.mp3')
      source(src='/video/capLoop.mp3')
  img(src='/images/mobile-head.png', class='mobile-head visible-xs')
  .video(class='hidden-xs')
    video(autoplay, loop, muted, preload='auto')
      source(src='/video/shield-loop.ogv', type="video/ogg" )
      source(src='/video/shield-loop.mp4', type="video/mp4")
  .header-title
    img(src='/images/ca-title.png')
    a(class='btn-run', href='/index')
    
  block javascript
  script.
    $(function () {
      $('a.controls').on('click', function (e) {
        e.preventDefault();
        var song = $(this).next('audio').get(0);
         if (song.paused) {
            song.play();
            $(this).children('span').removeClass('glyphicon-volume-off');
            $(this).children('span').addClass('glyphicon-volume-up');
          } else {
            song.pause();
            $(this).children('span').removeClass('glyphicon-volume-up');
            $(this).children('span').addClass('glyphicon-volume-off');
          }
           
        return false;
      });
      if (window.location.hash && window.location.hash === '#_=_') {
        // If you are using Modernizr, then the alternative is:
        //   `if (Modernizr.history) {`
        if (window.history && history.pushState) {
          window.history.pushState('', document.title, window.location.pathname);
        } else {
          // Prevent scrolling by storing the page's current scroll offset
          var scroll = {
            top: document.body.scrollTop,
            left: document.body.scrollLeft
          };
          window.location.hash = '';
          // Restore the scroll offset, should be flicker free
          document.body.scrollTop = scroll.top;
          document.body.scrollLeft = scroll.left;
        }
      }
    });