extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
      background-color: #080605;
    }
    .video {
      width: 1440px;
      height: 680px;
      margin: 0 auto;
      overflow: hidden;
    }
    .video video {
      position: relative;
      left: -320px;
    }
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      top: 0;
      background-color: transparent;
    }

    .header-title {
      width: 100%;
      position: absolute;
      text-align: right;
      padding-right:5px;
      top: 180px;
      right: 0;
    }

    a.btn-run {
      display:block;
      position: absolute;
      width: 200px;
      height: 60px;
      background: url('/images/btn-run.png');
      background-size: 200px 120px;
      background-repeat: no-repeat;
      right: 24rem;
      bottom: 0;

    }
    a.btn-run:hover {
      background-position: 0 -60px;
    }

block body
  .video
      video(autoplay, loop, muted, width='1200px')
        source(src='/video/shield-loop.mp4')
        source(src='/video/shield-loop.ogv')
    .header-title
      img(src='/images/ca-title.png')
      a(class='btn-run', href='/')
    
  block javascript
  script.
    $(function () {

    });