extends ../layout

block styles
  style.
    body {
      background: #000;
    }
    .col-sm-6 p {
      margin-top: 30%;
      color: white;
    }
block body
  .container
    .row
      .col-sm-6
        img(src='/images/mobile-head.png', class='img-responsive')
      .col-sm-6
        p 本網站不支援 IE 9 以前之瀏覽器，請改使用 Chrome, Firefox 等主流瀏覽器。
        img(src='/images/marvel-logo.png')