extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
    }
    .video {
      width: 1440px;
      background-color: #080605;
      height: 600px;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
    }
    .header {
      width: 1440px;
      max-width: 1440px;
      top: 0;
      margin: 0 auto;
      height: 600px;
      background: transparent;
      position: absolute;
    }
    .container {
      width: 1440px;
      margin: 0 auto;
      padding: 0;
    }
    .footer {
      width: 1440px;
      height: 260px;
      margin: 0 auto;
      background: #000;
    }
    .footer .body {
      padding-top: 5rem;
      color: white;
      width: 960px;
      margin: 0 auto;
    }
    .footer .body  img {
      margin: 5px;
    }
    .content {
      width: 100%;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      background: url('/images/pattern.png');
      background-repeat: repeat;
      text-align: center;
      color: white;
    }
    .content .title {
      background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0.1), rgba(0,0,0,0));
      width: 100%;
    }
    .topbar {
      width: 100%;
      height: 3.2rem;
      background: rgba(0,0,0,0.8);
      border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    }
    .menu {
      width: 100%;
      padding: 0;
      background: transparent;
      position: absolute;
      top: 100px;
    }
    .menu .nav {
      border-bottom: 5px solid rgba(255, 255, 255, 0.2);
      background:linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.3));
      background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
      background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.3));
    }
    ul {
      list-style-type: none;
      width: 960px;
      margin: 0 auto;
      height: 36px;
    }
    ul li {
      display: inline-block;
      height: 3rem;
      padding: 0.5rem;
      margin-right: 1rem;
    }
    .menu ul li {
      border-bottom: 5px solid rgba(170, 31, 36, 0);
      line-height: 1.8rem;
      text-decoration: none;
      position: relative;
      top: 5px;
    }
    .menu ul li a {
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 20px red;
      font-size: 1.4rem;
      margin: 5px 2px;
      font-weight: 500;
      text-decoration: none;
    }
    .menu ul li:hover, .menu ul li.active{
      border-bottom: 5px solid rgba(170, 31, 36, 0.9);
      background: rgba(0,0,0,0.7);
    }
    .menu ul li a:hover, .menu ul li.active a {
      color: #ff1c20;
    }
    .ml {
      margin-left: 10px;
    }
    .topbar > ul {
      position: relative;
      color: #b2b2b2;
      text-align: right;
    }
    .topbar ul a {
       color: #b2b2b2;
    }
    .topbar ul a:hover {
       color: rgba(170, 31, 36, 0.9);
       text-decoration: none;
    }
    .topbar ul ul {
      display: none;
      padding: 0;
      max-width: 8rem;
      top: 2.8rem;
      position: absolute;
      text-align: left;
      border-top: 5px solid rgba(170, 31, 36, 0.9);
    }
    .topbar ul ul li {
      display: block !important;
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
    }
    .topbar ul li:hover > ul {
      display: block;
    }
    .header-title {
      width: 100%;
      position: absolute;
      text-align: center;
      top: 250px;
    }
    .marvel-logo {
      margin-top: 5rem;
    }

block body
  include ../partials/nav

  .container
    .content
      .title
    


  .footer
    .body
      .col-sm-6
        .row
          h4 主辦單位
        .row
        img(src='/images/suppor-logo.png')
        img(src='/images/suppor-logo.png')
      .col-sm-6
        .row
          h4 聯絡方式
        .row
          h5
            span(class='glyphicon glyphicon-earphone') 
            span(class='ml') (02)2222-2222
          h5
            span(class='glyphicon glyphicon-envelope')
            a(class='ml', href='mailto:who@passer.com') who@passer.com
          h5
            span(class='glyphicon glyphicon-home') 
            a(class='ml', href='') www.google.com
  block javascript
  script.
    $(function () {
      

    });