extends ../layout

block styles
  style.
    body {
      overflow-x: hidden;
    }
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      background: white;
    }
    .footer {
      width: 100%;
      margin: 0 auto;
      background: #000;
      padding-bottom: 5rem;
    }
    .footer .body {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      color: white;
      width: 960px;
      margin: 0 auto;
    }
    .footer .body  img {
      margin: 5px;
    }
    .linear {
      width: 100%;
      height: 5rem;
      position: relative;
      top: -5rem;
      background: rgb(125,126,125); 
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); 
    }
    .content {
      width: 100%;
      height: auto;
      overflow-y: auto;
      overflow-x: hidden;
      background: url('/images/pattern.png');
      background-repeat: repeat;
      text-align: center;
      color: white;
    }
    .content .title {
      background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      background:-webkit-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.2),rgba(0,0,0,0.1), rgba(0,0,0,0));
      width: 100%;
    }
    .term {
      width: 720px;
      margin: 0 auto;
      color: #333;
    }
    .ml {
      margin-left: 10px;
    }
    button.next {
      border: none;
      width: 290px;
      height: 80px;
      background: url('/images/btn-next.png');
      background-repeat: no-repeat;
      margin: 3rem auto;
    }
    button.next:hover {
      background-position: 0 -80px;
    }
    @media screen and (max-width: 768px) {
      .term {
        width: 90%;
        margin: 0 auto;
      }
      .content {
        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        overflow: hidden;
        background-size: 100% 100%;
        background-repeat: repeat-y;
        text-align: center;
        color: white;
      }
      .content .title {
        background:linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), rgba(0,0,0,0));
        background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0.1), rgba(0,0,0,0));
        width: 100%;
        text-align: center;
      }
      .content .title img {
        width: 300%;
        display: block;
        position: relative;
        left: -100%;
      }
       .footer {
        position: relative;
        top: 0;
        height: auto;
      }
      .footer .body {
        color: white;
        width: 70%;
        margin: 0 auto;
      }
      .black {
        background: #000;
        width: 100%;
        height: 10rem;
      }
    }
    
block body
  include ../partials/nav
  .container
    .black
    .content
      .title
        img(src='/images/title-term.png', class='title')
      .panel.panel-primary.term
        .panel-heading
          h3(class='panel-title') 授權，參賽條款
        .panel-body
          textarea(class="form-control", rows="12")
            | 【一】 注意事項
            |         本注意事項是Captain America Run路跑的參加者於賽前必須詳細閱讀。當您參加路跑時，即表示您已閱讀、瞭解並同意接受本次路跑賽所訂之所有內容，包括活動規則。本注意事項得隨時修訂並公告於Captain America Run官方網站上，修訂後之內容自公告時起生效。
            |         一. 衣物保管：
            |             1. 大會不提供物品寄放之服務，但提供參賽包內的束口背包，敬請穿著輕便運動裝，避免攜帶不必要之物品。貴重物品請自行保管。
            |         二. 安全事項：
            |             1. 比賽前如遇颱風、豪雨或其他不可抗力之天災，大會以選手安全為考量，有權決定是否取消或擇期比賽或改用其他替代路線，參賽選手不得有異議；若因故取消活動，報名費將以5折退還。
            |             2. 如比賽時下大雨導致水門必須關閉或其他場地安全狀況，大會有權中止及暫停活動繼續進行，以保障參加者之安全。
            |             3. 大會裁判、醫師或交通安全管制人員有權視選手體能狀況及道路安全，中止或暫停選手繼續比賽，選手不得有異議。
            |             4. 活動中請勿帶寵物出席，以免因為人潮眾多發生意外。
            |         三. 隨身攜帶身分證明備查。
            |         四. 參加本次活動者請注意身體健康，請慎重考量自我健康狀況，如有不適，請勿逞強，如有心臟、血管、糖尿病等方面病歷者，請勿隱瞞病情參加路跑活動，否則，後果請自行負責。
            |         五. 大會有權將此項比賽之錄影、相片及成績於世界各地播放、展出、登錄於官網上，參賽者必須同意肖像及個人參加活動之影像，用於相關比賽之宣傳與播放活動上。
            |         六. 為地球環保盡一份力，本活動不印製活動手冊。
            |         七. 路線有轉彎處請仔細聆聽工作人員指示，如擅自行動致身體受傷者，大會一概不負責。
            |         八. 退費說明：
            |             1. 購買美國隊長2酷寒戰士電影禮品包的消費者，若領取方式選擇宅配，可以依照消費者保護法的規定，享有商品貨到日起七天猶豫期的權益。但猶豫期並非試用期，所以，您所退回的商品必須是全新的狀態、而且完整包裝；請注意保持商品本本 體、配件、贈品、保證書、原廠包裝及所有附隨文件或資料的完整性，切勿缺漏任 何配件或損毀原廠外盒。如果您是選擇現場領取商品的消費者，則無法享有退換貨 的權利，請在現場仔細檢查有無遺漏/損壞的商品。
            |             2. 在您還不確定是否要辦理退貨以前，請勿拆封。 
            |             3. 在Captain America Run活動結束後，恕不接受任何退款的申請。
            |             4. 申請退貨時，請寄信到我們的Email(service@captainamericarun.com)，我們 會提供相關表格給您填寫，請依指示包裝並自行(自費)寄回至指定收貨地址。 (寄回商品時，請您選擇適當的寄送方式，若我們未收到您所寄回的商品、或 商品寄回時，商品或包裝已經損傷或缺漏，可能影響您退貨的權益，也可能 依照損毀程度扣除為回復原狀所必要的費用。) 當我們收到退貨商品次日起10個工作天內我們將審核案件，通過審核後即退款給您
            | 【二】 大會保險說明
            |       運動是保持健康身體的重要元素，請各位視自己跑步當日狀況量力而為，並請於活動前一日做充足的睡眠及當日跑步前2個鐘頭吃晚餐或者少量進食，盡量不要空腹，以免血糖過低造成身體不適。本次活動大會為每位參賽者投保新台幣300萬元之公共意外責任險，由「國泰世紀產物保險股份有限公司」承保，以確保活動順利進行。（所有細節依投保公司之保險契約為準）。
            |         一. 公共意外險承保範圍：
            |             被保險人因在保險期間內發生下列意外事故所致第三人體傷、死亡或第三人財物損害，依法應負賠償責任，而受賠償請求時，本公司對被保險人負賠償之責：被保險人或其受僱人因承辦活動之行為在本保險單載明之活動處所內發生之意外事故。被保險人在承辦活動之建築物、通道、機器或其他工作物所發生之意外事故。
            |         二. 承保範圍不包含個人疾病導致運動傷害及因個人體質或因自身心血管所致之症狀，例如休克、心臟症、糖尿病、熱衰竭、中暑、高山症、癲癇、脫水等。
            |         三. 本會於活動當日現場將提供必要之緊急醫療救護，但選手如有與跟第二項所述疾病相類之病史，建議選手慎重考慮自身安全，自行加保個人人身意外保險。
            |         四. 如您曾發生過以下病況及有以下疾病狀況，屬猝死高危險群，請諮詢醫師專業的判斷及請勿勉強參加。
            |           1. 不明原因的胸部不適(胸悶、胸痛)
            |           2. 不明原因的呼吸困難
            |           3. 不明原因頭暈　
            |           4. 突然失去知覺
            |           5. 高血壓(>140/90mmHg)
            |           6. 心臟病 
            |           7. 腎功能異常 
            |           8. 糖尿病 
            |           9. 高血脂(總膽固醇>240mg/Dl) 
            |           10. 家族心臟病史(一等親在60歲前發生心臟病或猝死)
            |           11. 癲癇  
            | 【三】 個資條款
            |        ● captain america run神盾局探員招募測驗(以下簡稱本大會)為落實個人資料之保護，茲依據個人資料保護法（以下稱個資法）第8條規定告知下列事項：
            |           一. 依個人資料保護法等相關法令規定，在主管機關所核准之特定目的範圍內蒐集您與他人的姓名、身份證字號、生日、住址、電話、電子郵件、緊急聯絡人、地址、身分證字號； 針對上該個人資料，本大會只會在由本大會擔任主辦/協辦/承辦活動的範圍及期間內處理或利用。 本大會蒐集的個人資料，原則上僅會以電子檔或紙本形式供本公司、委外廠商或與本大會具有合作、 委任等關係之第三人處理及利用。 本大會保有您所提供的個人資料，依據個資法第3條規定，您可以對您本人的個人資料行使下述的權利：
            |        ● 查詢或請求閱覽您的個人資料。
            |        ● 請求製給您的個人資料複製本。
            |        ● 請求補充或更正您的個人資料。
            |        ● 請求停止蒐集、處理或利用您的個人資料。
            |        ● 請求刪除您的個人資料。
            |           二. 您欲行使上述提及之相關權利時，本大會服務專線為02-87682358。本大會基於上述原因而需蒐集、處理或利用您的個人資料時，您可以自由選擇是否提供您的個人資料。 若您選擇不提供個人資料或是提供不完全時， 將可能導致無法成功報名相關馬拉松及路跑活動，或無法就本活動進行投保。 另您因活動所需，有蒐集選手或相關人之個人資料並提供予本大會之必要時，請依照本告知事項內容，向當事人充分說明並告知關於其個人資料保護的相關權益。 

        .panel-footer
          form(class="form-inline")
            .form-group
              .checkbox
                label
                  input(type='checkbox')
                  span  同意授權
      
      button(class='next')
  include ../partials/footer

  div(class='modal fade', id='myModal', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
          h4(class='modal-title', id='myModalLabel') 提示
        .modal-body
          | 請詳閱參賽聲明並同意授權。

  block javascript
  script.
    $(function () {
      $("html, body").delay(200).animate({scrollTop: $('.title').offset().top }, 500);

      $('.next').on('click', function(e) {
        if ($('input').prop("checked")) {
          window.location.href='/register/52d4901307f3c3b70204cf74';
        } else {
          $('#myModal').modal('show');
        }
      });

    });