extends ../layout

block styles
  link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css')
  link(rel='stylesheet', href='/styles/jquery-ui-timepicker-addon.css')
  style.
    body {
      padding-top: 60px;
    }
    .center {
      margin: 0 auto;
      float: none;
    }
    span.divider {
      display: inline-block;
      width: 5px;
    }
    .reset-gap {
      padding: 0;
      margin: 0;
      width: 3.5rem;
    }
    .mt {
      margin-top: 8px;
    }

block body
  include ../partials/topbar

  .container
    .row
      .col-sm-8.center
        .panel.panel-default
          .panel-heading
            h3(class='panel-title') 新增活動
          form(class='form-horizontal', role='form', method='post', action='/event/create')
            .panel-body
                input(type='hidden', name='_csrf', value=_csrf, id='_csrf')
                .form-group
                  label(for='title', class='col-sm-2 control-label') 活動名稱
                  .col-sm-6
                    input(type='text', class='form-control', id='title', name='title')
                .form-group
                  label(for='registrationStartOn', class='col-sm-2 control-label') 報名日期-起
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='registrationStartOn', name='registrationStartOn')
                .form-group
                  label(for='registrationEndOn', class='col-sm-2 control-label') 報名日期-迄
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='registrationEndOn', name='registrationEndOn')
                .form-group
                  label(for='startOn', class='col-sm-2 control-label ') 活動日期-起
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='startOn', name='startOn')
                .form-group
                  label(for='endOn', class='col-sm-2 control-label') 活動日期-迄
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='endOn', name='endOn')
                .form-group
                  label(for='sponsor', class='col-sm-2 control-label') 主辦單位
                  .col-sm-6
                    input(type='text', class='form-control', id='sponsor', name='sponsor')
                .form-group
                  label(for='contact', class='col-sm-2 control-label') 聯絡人
                  .col-sm-6
                    input(type='text', class='form-control', id='contact', name='contact')
                .form-group
                  label(for='contactPhone', class='col-sm-2 control-label') 聯絡電話
                  .col-sm-6
                    input(type='text', class='form-control', id='contactPhone', name='contactPhone')
                .form-group
                  label(for='contactEmail', class='col-sm-2 control-label') 聯絡電子郵件
                  .col-sm-6
                    input(type='text', class='form-control', id='contactEmail', name='contactEmail')
                .form-group
                  label(for='quantity', class='col-sm-2 control-label') 報名人數限制
                  .col-sm-6
                    input(type='text', class='form-control', id='quantity', name='quantity')
                
                .form-group.registration-data
                  label(for='registrationData-0', class='col-sm-2 control-label') 報名所需資料
                  .col-sm-3
                    input(type='text', class='form-control', id='registrationData-0', name='registrationData[]')
                  .col-sm-3
                    select(id='registrationDataType-0', name='registrationDataType[]', class='form-control registration-data-type')
                      option(value='text', selected) 文字
                      option(value='number') 數字
                      option(value='date') 日期
                      option(value='tel') 電話
                      option(value='email') 電子郵件
                      //- option(value='select') 下拉式選單
                  .col-sm-1.reset-gap
                    a(class='btn btn-sm btn-success col-plus') 
                      span(class='glyphicon glyphicon-plus')

            .panel-footer.text-right
              a(href='/event/index', class='btn btn-default') 返回
              span.divider
              input(type='submit', class='btn btn-primary', value='確認')


  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-zh-TW.js')
  script(src='/js/vendor/jquery-ui-timepicker-addon.js')
  script.
    $(function() {
      $('.datepicker').datetimepicker();

      $('.col-plus').on('click', function (e) {
        var index = $('.registration-data').length;
        var row = $('<div></div>').addClass('form-group registration-data');
        var label = $("<label for='' class='col-sm-2 control-label'></label>")
        var input = $("<div class='col-sm-3'><input type='text' class='form-control' id='registrationData-" + index + "' name='registrationData[]' /></div>");
        var select = $("<div class='col-sm-3'> <select id='registrationDataType-" + index + "' name='registrationDataType[]' class='form-control'> <option value='text' selected>文字 <option value='number'>數字 <option value='date'>日期 <option value='tel'>電話 <option value='email'>電子郵件 <option value='select'>下拉式選單 </select> </div>");
        var btn = $("<div class='col-sm-1 reset-gap'><a class='btn btn-sm btn-danger col-minus'><span class='glyphicon glyphicon-minus'></span></a></div>");
        row.append(label);
        row.append(input);
        row.append(select);
        btn.on('click', function (e) {
          $(this).parent().remove();
        });
        row.append(btn);
        $('.registration-data').last().after(row);
        e.preventDefault();
      });

      $(document).on('change', 'select.registration-data-type', function (e) {
        if ($(this).val() == 'select') {
          var btnTypePlus = $("<div class='col-sm-1 reset-gap type-plus'><a class='btn btn-sm btn-info'><span class='glyphicon glyphicon-plus-sign'></span></a></div>")
          var firstColumn = $("<div class='registration-type-column'><div class='col-sm-offset-5 col-sm-3 mt'><input type='text' class='form-control' /></div></div>");
          btnTypePlus.on('click', function (e) {
            var column = $("<div class='registration-type-column'><div class='col-sm-offset-5 col-sm-3 mt'><input type='text' class='form-control' /></div><div class='col-sm-1 reset-gap mt'><a class='btn btn-sm btn-warning'><span class='glyphicon glyphicon-minus-sign'></span></a></div></div>"); 
            column.find('a').on('click', function (e) {
              $(this).parent().parent().remove();
            });
            $(this).nextAll().last().after(column);
          });
          $(this).parent().next().after(btnTypePlus);
          $(this).parent().parent().append(firstColumn);
        } else {
          $(this).parent().parent().find('.type-plus').remove();
          $(this).parent().parent().find('.registration-type-column').remove();
        }
       
      });
      
    });