extends ../layout

block styles
  style.
    body {
      padding-top: 60px;
    }
    .panel.center {
      margin: 0 auto;
      width: 30rem;
    }
    .w180 {
      width: 180px;
    }
    span.divider {
      width: 5px;
      display: inline-block;
    }

block body
  include ../partials/topbar

  .container
    .row
      .col-sm-3
        .input-group
          input(type='text', class='form-control', placeholder='搜尋...')
          span(class='input-group-btn')
            button(class='btn btn-default', type='button') 搜尋
    .row
      hr
    .row
      .col-sm-12
        table(class='table table-bordered table-hover table-condensed table-responsive')
          tr
            th 活動名稱
            th 報名日期（起始）
            th 報名人數
            th 金額（已入賬 / 未入賬）
            th 
              a(href='', class='btn btn-primary btn-sm') 新增
          tr
            td
            td
            td
            td
            td(class='w180')
              a(href='', class='btn btn-default btn-sm') 詳細資訊
              span(class="divider")
              a(href='', class='btn btn-default btn-sm') 查看訂單
    
block javascript