extends ../layout

block styles
  style.
    body {
      padding-top: 60px;
    }
    .panel.center {
      margin: 0 auto;
      width: 30rem;
    }

block body
  include ../partials/topbar

  .container
    
block javascript