extends ../layout

block styles
  link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.css')
  style.
    body {
      padding-top: 60px;
    }
    .center {
      margin: 0 auto;
      float: none;
    }
    span.divider {
      display: inline-block;
      width: 5px;
    }

block body
  include ../partials/topbar

  .container
    .row
      .col-sm-8.center
        .panel.panel-default
          .panel-heading
            h3(class='panel-title') 編輯活動
          form(class='form-horizontal', role='form', method='post', action='')
            .panel-body
              
                //- input(type='hidden', name='_csrf', value=_csrf, id='_csrf')
                .form-group
                  label(for='title', class='col-sm-2 control-label') 活動名稱
                  .col-sm-6
                    input(type='text', class='form-control', id='title')
                .form-group
                  label(for='registrationStartOn', class='col-sm-2 control-label') 報名日期-起
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='registrationStartOn')
                .form-group
                  label(for='registrationEndOn', class='col-sm-2 control-label') 報名日期-迄
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='registrationEndOn')
                .form-group
                  label(for='startOn', class='col-sm-2 control-label ') 活動日期-起
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='startOn')
                .form-group
                  label(for='endOn', class='col-sm-2 control-label') 活動日期-迄
                  .col-sm-6
                    input(type='text', class='form-control datepicker', id='endOn')
                .form-group
                  label(for='sponsor', class='col-sm-2 control-label') 主辦單位
                  .col-sm-6
                    input(type='text', class='form-control', id='sponsor')
                .form-group
                  label(for='contact', class='col-sm-2 control-label') 聯絡人
                  .col-sm-6
                    input(type='text', class='form-control', id='contact')
                .form-group
                  label(for='contactPhone', class='col-sm-2 control-label') 聯絡電話
                  .col-sm-6
                    input(type='text', class='form-control', id='contactPhone')
                .form-group
                  label(for='contactEmail', class='col-sm-2 control-label') 聯絡電子郵件
                  .col-sm-6
                    input(type='text', class='form-control', id='contactEmail')
                .form-group
                  label(for='quantity', class='col-sm-2 control-label') 報名人數限制
                  .col-sm-6
                    input(type='text', class='form-control', id='quantity')
                .form-group
                  label(for='registrationData', class='col-sm-2 control-label') 報名所需資料
                  .col-sm-6
                    input(type='text', class='form-control', id='registrationData')

          .panel-footer.text-right
            a(class='btn btn-default') 取消
            span.divider
            a(class='btn btn-primary') 確認

block javascript
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-zh-TW.js')
  script.
    $(function() {
      $('.datepicker').datepicker();
    });